.header {
	display: flex;
	width: calc(100% - 221px);
	height: 60px;
	border-bottom: 1px solid #e5e5e5;
	line-height: 60px;
}

	.header .header-left {
		height: 60px;
		float: left;
		width:200px;
		margin-left:24px;
	}
		.header .header-left select {
			width: 200px;
			border:none;
			font-size:15px;
		}

		.header .header-right {
			display:flex;
			align-items:center;
			position: absolute;
			right: 24px;
		}
			.header .header-right .icon-avt {
				background-image: url('/content/img/toggle.PNG');
			}
			.header .header-right .icon-header {
				border-radius: 100%;
				background-repeat: no-repeat;
				height: 35px;
				width: 35px;
				background-size: cover;
			}
			.header .header-right .icon-opiton {
				background-image: url('/content/img/icon_3_cham.jpg');
			}


